<!--
 Copyright (C) 2023 Jiri Skoda <skodaji1@uhk.cz>
 
 This file is part of b22l-skodaji1-ktpw2-semestral-project.
 
 b22l-skodaji1-ktpw2-semestral-project is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 2 of the License, or
 (at your option) any later version.
 
 b22l-skodaji1-ktpw2-semestral-project is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with b22l-skodaji1-ktpw2-semestral-project.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="./styles/jquery-ui.min.css">
    <link type="text/css" rel="stylesheet" href="./styles/jquery-ui.structure.min.css">
    <link type="text/css" rel="stylesheet" href="./styles/7.scoped.css">
    <link type="text/css" rel="stylesheet" href="./styles/global.css">
    <link type="text/css" rel="stylesheet" href="./styles/homepage.css">
    <link type="text/css" rel="stylesheet" href="./styles/register.css">
    <title>Kalendář</title>
</head>
<body>
    <header>
        <h1>Kalendář</h1>
        <nav>
            <ul>
                <li>
                    <button type="button" value="event-add" disabled>Nová událost</button>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <aside class="">
            
        </aside>
        <section>
            <h2>Vítejte</h2>
            <p>Pro pokračování se, prosím, přihlašte nebo registrujte.</p>
            <ul>
                <li>
                    <button id="login-button" class="arrow-button"><i class="right"></i>Přihlásit se</button>
                </li>
                <li>
                    <button id="register-button" class="arrow-button"><i class="right"></i>Registrovat se</button>
                </li>
            </ul>
        </section>
    </main>
    <script src="./scripts/jquery-3.6.4.min.js"></script>
    <script src="./scripts/jquery-ui.min.js"></script>
    <script src="./scripts/windows.js"></script>
    <script src="./scripts/homepage.js"></script>
</body>
</html>
