<!--
 Copyright (C) 2023 Jiri Skoda <developer@skodaj.cz>
 
 This file is part of b22l-skodaji1-ktpw2-semestral-project.
 
 b22l-skodaji1-ktpw2-semestral-project is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 2 of the License, or
 (at your option) any later version.
 
 b22l-skodaji1-ktpw2-semestral-project is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with b22l-skodaji1-ktpw2-semestral-project.  If not, see <http://www.gnu.org/licenses/>.
-->

<div id="register-content" class="win7">
    <section>
        <h2>Registrace</h2>
        <form action="./register" method="post">
            <div class="column win7">
                <label for="register-name">Jméno</label>
                <input name="name" tabindex="10" type="text" id="register-name" required>
                <label for="register-username">Uživatelské jméno</label>
                <input name="username" tabindex="12" type="text" id="register-username">
                <label for="register-password">Heslo</label>
                <input name="password" tabindex="14" type="password" id="register-password">
            </div>
            <div class="column win7">
                <label for="register-surname">Příjmení</label>
                <input name="surname" tabindex="11" type="text" id="register-surname" required>
                <label for="register-mail">E-mail</label>
                <input name="mail" tabindex="13" type="text" id="register-mail">
                <label for="register-passworda">Heslo znovu</label>
                <input tabindex="15" name="passworda" type="password" id="register-passworda">
            </div>
            <div class="row win7">
                <button tabindex="16" type="reset" class="exit-button">Zrušit</button>
                <button tabindex="17" type="submit">OK</button>
            </div>
        </form>
    </section>
</div>
